:root {
    --primary: #ccc;
    --secondary: #f9f9f9;
    font-family: Arial, sans-serif;
}

.task {
    margin: 10px;
    padding: 10px 10px 10px 15px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
}

.checkbox.incomplete {
    background-color: transparent;
}

.checkbox.complete {
    background-color: black;
}

.form {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary);
    border-radius: 10px;
    border: 1px solid var(--primary);
    padding: 20px;
}

input[readonly] {
    color: gray;
}