:root {
    --primary: #ccc;
    --secondary: #f9f9f9;
}

.task {
    margin: 10px;
    padding: 10px 10px 10px 15px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkbox {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}